# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Logs
logs/
*.log

# MLflow
mlruns/
mlflow.db

# Models

*.pkl

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/